{% set pageTitle = 'Admin | Simple Blog' %}
{% extends "base.twig" %}
{% block content %}
    <h1>New post</h1>
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elseif success is defined %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <form method="post" action="/posts">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" name="post[title]">
        </div>
        <div class="form-group">
            <label for="post-subtitle">Subtitle</label>
            <input type="text" class="form-control" id="post-subtitle" name="post[subtitle]">
        </div>
        <div class="form-group">
            <label for="post-text">Text</label>
            <textarea class="form-control wysiwyg-input" rows="20" id="post-text" name="post[text]"></textarea>
        </div>
        <div class="form-group">
            <label for="post-author">Author</label>
            <select class="form-control" id="post-author" name="post[author]">
                {% for author in authors %}
                    <option value="{{ author.getId }}">{{ author.getName }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/admin.js"></script>
{% endblock %}
