{% extends "base.twig" %}

{% block content %}
    <h1>New post</h1>
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" action="/posts">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" name="post[title]">
        </div>
        <div class="form-group">
            <label for="post-subtitle">Subtitle</label>
            <input type="text" class="form-control" id="post-subtitle" name="post[subtitle]">
        </div>
        <div class="form-group">
            <label for="post-text">Text</label>
            <textarea class="form-control" rows="20" id="post-text" name="post[text]"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'#post-text' });</script>
{% endblock %}
