{% extends "base.twig" %}
{% block title %}{{ blogTitle }} | Simple Blog{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="blog-header post-header">
            <h1>{{ post.getTitle }}</h1>
            <p class="lead blog-description post-description">{{ post.getSubtitle }}</p>
        </div>
        <div class="row post-content">
            <p>{{ post.getText | raw }}</p>
        </div>
    </div>
{% endblock %}
