{% extends "base.twig" %}

{% block content %}
    <div class="blog-header">
        <h1>{{ post.getTitle }}</h1>
        <p class="lead blog-description">{{ post.getSubtitle }}</p>
    </div>
    <div class="row">
        <p>{{ post.getText | raw }}</p>
    </div>
{% endblock %}
