{% extends "admin-base.twig" %}
{% block content %}
    <h1>New Author Comment</h1>
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elseif success is defined %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <form method="post" action="/admin/posts/{{ postId }}/comments">
        <div class="alert alert-info" role="alert">This comment will be displayed as written by the author</div>
        <div class="form-group required">
            <label for="comment-text">Your Comment</label>
            <textarea class="form-control" rows="20" id="comment-text" name="comment[text]"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}