{% extends "base.twig" %}
{% block title %}About | Simple Blog{% endblock %}

{% block content %}
    <br />
    <div class="jumbotron">
        <h1 class="display-4">About this blog</h1>
        <p class="lead">{{ aboutText }}</p>
    </div>
{% endblock %}
