{% set pageTitle = 'About | Simple Blog' %}
{% extends "base.twig" %}
{% block content %}
    <br />
    <div class="jumbotron">
        <h1 class="display-4">About this blog</h1>
        <p class="lead">{{ aboutText }}</p>
    </div>

    {% if externalLinks is not empty %}
        <div class="row">
            <h2>Elsewhere</h2>
            <p>You can find me using the following links:</p>
            <ul>
                {% for link in externalLinks %}
                    <li><a target="_blank" rel="noopener noreferrer" href="{{ link.getUrl }}">{{ link.getName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <h2>Follow this blog</h2>
        <p>Get automatically updated on any new article using our
            <a href="/rss">
                <img src="/images/rss_icon.svg" alt="RSS" title="RSS feed" width="25" height="25"> RSS Feed
            </a>
        </p>
    </div>
{% endblock %}
