<!doctype html>
<html lang="en">
    <head>
        <title>{{ pageTitle|default('Simple Blog') }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/blog.css">
        <link rel="stylesheet" href="/css/simple-blog.css">
    </head>

    <body>
        <!-- Navbar -->
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-brand" href="/">{{ blogTitle|default('Simple Blog') }}</a>
                    <a class="blog-nav-item active" href="/">Home</a>
                    <a class="blog-nav-item" href="/about">About</a>
                </nav>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="blog-footer">
            <p><a href="#">Back to top</a></p>
            <p>Powered by
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/gabriel-detassigny/simple-blog">
                    Simple Blog
                </a>
            </p>
        </footer>

        <!-- JavaScript -->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
