{% extends "base.html.twig" %}

{% block content %}
    <div class="blog-header">
        <h1>{{ post.getTitle }}</h1>
        <h2>{{ post.getSubtitle }}</h2>
    </div>
    <div class="row">
        <p>{{ post.getText }}</p>
    </div>
{% endblock %}