.blog-post.blog-post-show {
    margin: 0 8% 0 8%;
}

.blog-post.blog-post-show .post-header h1 {
    margin-top: 2%;
    font-size: calc(30px + 2vw);
}

.blog-header h1.blog-title {
    font-size: calc(30px + 2vw);
}

.blog-post.blog-post-overview .blog-post-title {
    font-size: calc(24px + 1vw);
}

.blog-post.blog-post-show .post-header .post-description {
    font-size: calc(18px + 1vw);
}

.blog-post.blog-post-show .blog-post-follow a {
    float: right;
}

.blog-post.blog-post-show .post-content {
    font-size: 20px;
    line-height: 32px;
}

.blog-post.blog-post-overview a.blog-read-more {
    font-size: 14px;
    text-decoration: underline;
}

nav.blog-nav a.blog-nav-brand {
    float: right;
    font-size: 18px;
    line-height: 20px;
    color: white;
    padding: 9px;
}

h2.admin-section {
    margin-top: 50px;
}

a.admin-action {
    float: right;
    margin-bottom: 20px;
}

#blog-post-comments {
    margin-top: 30px;
    border-top: #8b8b8b;
}

#blog-post-comments #comment-text {
    height: 150px;
}

.required label:after {
    content:" *";
    color: red;
}

.comment-name {
    color: rgb(66, 139, 202);
    font-weight: bold;
    margin-right: 10px;
}

.comment-author {
    color: red;
    font-weight: bolder;
    margin-right: 10px;
}

.comment-date {
    color: lightgrey;
}

.comment-show {
    margin-top: 10px;
}

.comments-list {
    margin-top: 25px;
}

#new-comment-error {
    display: none;
}